<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mahao</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <%if account_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <%= link_to properties_path, class: 'nav-link active' do %>
                        My Properties
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to edit_account_registration_path, class: 'nav-link active' do %>
                        Account Settings
                    <% end %>
                </li>
            </ul>          
            <div class="me-4">
                <%= button_to 'Log Out', destroy_account_session_path, method: :delete,  class: ' btn btn-danger' %>
            </div>
        <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <div class="">
                <%= link_to 'Log In', new_account_session_path, class: 'mx-3 btn btn-primary' %>
            </div>
            <div class="">
                <%= link_to 'Sign Up', new_account_registration_path, class: 'mx-3 btn btn-primary' %>
            </div>
        <% end %>
    </div>
  </div>
</nav>