<%= form_with(model: property, data: { controller: "voice-input" }) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class= 'form-group col-6'>
      <%= form.label 'Title', style: "display: block" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class= 'form-group col-6 mb-3'>
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>
  <div>

  <div class='row mb-3'>
    <div class= 'form-group col-5'>
      <%= form.label :price, style: "display: block" %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>
    
    <div class= 'form-group col-4'>
      <%= form.label 'Parking', style: "display: block" %>
      <%= form.number_field :parking_spaces, class: 'form-control' %>
    </div>

    <div class= 'form-group col-3'>
      <%= form.label 'Bedrooms', style: "display: block" %>
      <%= form.text_field :roomsinteger, class: 'form-control' %>
    </div>
  </div>

  <div class= 'form-group mb-4'>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_area :details, data: { voice_input_target: 'input' }, class: 'form-control' %>
    <span data-action="click->voice-input#record" style="cursor: pointer; text-decoration: underline" data-target="voice-input.startButton">
      Start Recording
    </span>
  </div>

  <div class= 'form-group mb-4'>
    <%= form.label :photo, style: "display: block" %>
    <%= form.text_field :photo, class: 'form-control' %>
  </div>

  <div class= 'form-group mb-4'>
    <%= form.label "upload image", style: "display: block" %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class= 'form-group'>
    <% form.label :account_id, style: "display: block" %>
    <% form.text_field :account_id %>
  </div>

  <div class= 'form-group'>
    <%= form.submit  class: ' btn btn-lg btn-block btn-outline-success mt-2' %>
  </div>
<% end %>
