<style>
  .card-img {
    height: 14rem;
    object-fit: cover;
    
  }

  .card-link {
    text-decoration: none;
    color: inherit;
  }

  .card-link:hover,
  .card-link:visited {
    text-decoration: none;
    color: inherit;
  }
</style>

<div class='row'>
  <% properties.each do |property| %>
    <div class='card col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 text-start shadow mx-2 my-4 p-0'>
      <%= link_to property_path(property), class: 'card-link' do %>
        <%= image_tag property.photo, alt: 'img', class: 'card-img' %>
        <div class='card-body'>
          <h5><%= property.name %></h5>
          <p><i class="bi bi-pin-map-fill"></i> <%= property.address %></p>
          <div class='amenities'>
            <span class=' mx-2'><i class="bi bi-house-add-fill mx-2"></i><%= property.roomsinteger%></span> |
            <span class=' mx-2'><i class="bi bi-truck-front-fill"></i>   <%= property.parking_spaces%></span> |
            <span class=' me-2'><i class="bi bi-cash-coin mx-2"></i> <%= property.price%></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
