<style>
  .card-img {
    height: 27rem;
  }
</style>

<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1>My Properties</h1>
  <div class='d-flex justify-content-end'>
    <%= link_to "Add A New House", new_property_path, class: 'h4 mt-3' %>
    <span class='h1 me-5 mb-3'><i class="bi bi-house-door"></i></span>
  </div>

  <div id="properties" class=''>
    <% @properties.each do |property| %>
      <div class="card my-5" style="max-width: 70vw;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src=<%= property.photo%> alt='property photo' class='card-img'/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class='p-3'> <%= property.name %> </h2>
              <p class='h3 p-3'> Location: <%= property.address %> </p>
              <p class='h3 p-3'>Price: <%= property.price %> </p>
              <p class='h3 p-3'>Bedrooms: <%= property.roomsinteger %> </p>
              <div class='p-3'>
                <%= link_to "More...", property, class: 'btn btn-outline-secondary' %>
              </div>
            </div>
          </div>
        </div>
      </div>




    <% end %>
  </div>
</div>

