    <style>
      /* .prop-details {
        height: 100px;
        overflow: hidden;
      }
    
      .prop-details.open {
        height: auto;
      } */

      .property-show-photo{
        width: 100%;
        height: 50rem;
      }

      
    </style>







<div class=''>
  <div class=''>
      <p style="color: green"><%= notice %></p>
      <div class='mb-2'>
        <% if @property.image.present? %>
          <%= image_tag(@property.image, class: 'property-show-photo') %>
        <% elsif @property.photo.present? %>
          <img src=<%= @property.photo %> class='property-show-photo'>
        <% else %>
          <%= image_tag('https://images.pexels.com/photos/276724/pexels-photo-276724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', class: 'property-show-photo') %>
        <% end %>
      </div>
      <div class='container p-2 m-5 d-flex justify-content-lg-between'>
        <div class='me-5'>
          <small class='h6 me-4'><i class="bi bi-geo-alt-fill mx-1"></i>   <%= @property.address%></small> |
          <span class=' mx-4'><i class="bi bi-cash-coin mx-1"></i> <%= @property.price%></span> |
          <span class=' mx-4'><i class="bi bi-house-add-fill mx-1"></i><%= @property.roomsinteger%></span> |
          <span class=' mx-4'><i class="bi bi-truck-front-fill"></i>   <%= @property.parking_spaces%></span>

          <hr>
          <h3><%= @property.name%></h3>
          <hr>
          <h5>Property Description </h5>
          <div class='prop-details mb-1' class='mb-1'>
            <p><%= simple_format @property.details %></p>
          </div>
          <div class='d-flex justify-content-between'>
            <%# <button class='btn btn-outline-info mt-2' id='new-details'>Show More</button> %>
            <% if @property.account == current_account %>
              <%= link_to "Edit this property", edit_property_path(@property), class: 'btn btn-success' %> 
              <%= button_to "Destroy this property", @property, method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
        <div class='ms-5'>
          <h2>Agent Info</h2>
          <%= render 'properties/agent_details' %>
          <iframe class='ml-lg-4 mt-3' width='320' height='249' frameborder='0' style='border:0;' src='https://maps.google.com/maps?q=MQXM+RR5,+Ngong+Ln,+Nairobi,+Kenya&output=embed' allowfullscreen ></iframe>
        </div>
    </div>
    <div class='m-5'>
      <h3>Other Houses by This Agent</h3>
      <%= render 'properties/list', properties: @agent_properties %>
    </div>
  </div>
</div>





